* {
    margin: 100;
    padding: 100;
}

body {
    width: 900px;
    margin-left: 100px;
    margin-right: auto;
    background-image: url("https://queen-arthur.github.io/images/Giant%20Parchment.jpg");
    background-color: #ffffff;
}

header {
    margin-top: 24px;
}

footer {
    margin-top: 64px;
    margin-bottom: 32px;
    text-align: center;
}

nav {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 64px;
    text-align: center;
}

nav a {
    font-family: 'Yellowtail', cursive;
    font-size: 32px;
    margin-left: 8px;
    margin-right: 8px;
}

p {
    font-family: 'Helvetica', serif;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 160%;
    color: #000000;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
    text-align: center;
    font-family: 'Yellowtail', cursive;
    color: #000000;
}

h2 {
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
}

h4 {
    text-align: center;
    font-family: 'Helvetica', serif;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 160%;
    color: #000000;
}

h5 {
    font-size: 26px;
  	font-family: 'Yellowtail', cursive;
    color: black;
    text-align: center;
}

ul,
ol {
    font-size: 16px;
    margin-left: 32px;
    font-family: 'Oswald', sans-serif;
    color: #f7f7f7;
}

img {
    border-radius: 0.25em;
    width: 100%;
}

iframe {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #0200a4;
}

#photo-grid img {
    margin-top: 24px;
}

.book {
    width: 1000px;
    max-width: 100%;
    height: auto;
    margin-left: 30px;
}

.profile {
    float: left;
    margin-right: 18px;
    width: 250px;
}

.silhouette {
    float: right;
    margin-right: 18px;
    width: 250px;
    border-radius: 4px;
    border: 4px solid #000000;
}

.chess {
    float: left;
    margin-right: 18px;
    width: 250px;
    border-radius: 4px;
    border: 4px solid #000000;
}

.OGNA {
    float: left;
    margin-right: 18px;
    width: 180px;
    border-radius: 100%;
    border: 4px solid #f7f7f7;
}

.MR {
    float: left;
    margin-right: 18px;
    width: 180px;
    border-radius: 100%;
    border: 4px solid #f7f7f7;
}

.hitchups {
    float: left;
    margin-right: 18px;
    width: 180px;
    border-radius: 100%;
    border: 4px solid #f7f7f7;
}

.becoming {
    float: left;
    margin-right: 18px;
    width: 180px;
    border-radius: 100%;
    border: 4px solid #f7f7f7;
}

.OAB {
    float: left;
    margin-right: 18px;
    width: 180px;
    border-radius: 100%;
    border: 4px solid #f7f7f7;
}

.Prophecy {
    float: left;
    margin-right: 18px;
    width: 180px;
    border-radius: 100%;
    border: 4px solid #f7f7f7;
}

.ShakyGround {
    float: left;
    margin-right: 18px;
    width: 180px;
    border-radius: 100%;
    border: 4px solid #f7f7f7;
}

.Raven {
    float: left;
    margin-right: 18px;
    width: 180px;
    border-radius: 100%;
    border: 4px solid #f7f7f7;
}
